<%= render "shared/header"%>
<% if @users.exists? %>
  <% @users.each do |user| %>

          <td><%= link_to user.nickname, user_path(user.id), class: :card__user %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
       
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
<%= render "shared/footer"%>