<%= render "shared/header"%>
<div class="list-main">
<div class="list-main-center">
 <% if @users.exists? %>
    <% @users.each do |user| %>
<div class="follow-main">
    <div class="list_mn">
    <div class="follow_text">
    <%= link_to user.nickname, user_path(user.id), class: :card__user %>
        <div class="follow_count">
         名前
        </div>
      </div>
      <div class="follow_text">
            <%= link_to user.followings.count, user_followings_path(user) %>
        <div class="follow_count">
         フォロー中
        </div>
      </div>
      <div class="follow_text">
            <%= link_to user.followers.count, user_followers_path(user) %>
       <div class="follow_count">
         フォロワー
       </div>
      </div>
    </div>
  </div>
    <% end %>
    <% else %>
      <p class="not-user">ユーザーはいません</p>
  <% end %>
</div>
</div>
<%= render "shared/footer"%>