<%= render "shared/header"%>
<div class="user_main">
  <div class="inne">
    <div class="user__wrappe">
      <h2 class="page-headng">
        <%= @user.nickname%>さんのプロフィール
      </h2>
   <% if user_signed_in? && current_user.id != @user.id %>
      <div class="follow-main">
       <div class="follow-btn">
        <% if current_user.following?(@user) %>
         <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete,class: "follow" %>
        <% else %>
         <%= link_to "フォローする", user_relationships_path(@user.id), method: :post,class: "follow" %>
        <% end %>
       </div>
      </div>
    <% end %>
  <div class="follow-main">
    <div class="follow_mn">
      <div class="follow_text">
            <%= link_to @user.followings.count, user_followings_path(@user.id) %>
        <div class="follow_count">
         フォロー中
        </div>
      </div>
      <div class="follow_text">
            <%= link_to @user.followers.count, user_followers_path(@user.id) %>
       <div class="follow_count">
         フォロワー
       </div>
      </div>
      <div class="follow_text">
            <%= @user.items.count %>
       <div class="follow_count">
         投稿
       </div>
      </div>
    </div>
  </div>
      <div class="tabl">
            <div class="able__col2"><%= simple_format(@user.profile) %></div>
      </div>
      <h2 class="page-headng">
        <%= @user.nickname%>さんの料理
      </h2>
      <div class='user-contents'>
      <ul class='user-lists'>
          <%= render partial: "shared/item", collection: @user.items %> 
        </ul>
        </div>
    </div>
  </div>
</div>
<%= render "shared/footer"%>