<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('sarasara.jpeg' , class:"second-logo"), "/" %>

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">料理の情報を入力</h2>
<%= form_with model: @item, local: true do |f| %>
    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%= render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        料理画像🍳
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    
    <div class="new-items">
      <div class="weight-bold-text">
        料理名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :cook_name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="weight-bold-text">
        国名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :country, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          食材
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :material, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          レシピ
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :recipe, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          レシピの思い出
          <span class="indispensable">任意</span>
        </div>
        <%= f.text_area :memory, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
   
    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">禁止されている行為</a>
        を必ずご確認ください。
      </p>
      
      <p class="sentence">
        また、投稿をもちまして
        <a href="#">規約</a>
        に同意したことになります。
      </p>
    </div>
    <%# /注意書き %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">WorldCook利用規約</a></li>
    </ul>
    <%= link_to image_tag('sara.jpeg' , class:"second-fotter-logo"), "/" %>
    
  </footer>
</div>